.c-card{

    &__list{
        padding:1100px 30px;
    }

    &__todo{
        width:80%;
        max-width: 1000px;
        margin: 0 auto;
        min-height: 500px;
        background-color:$color-bg__main;
        padding:20px;

        &_container{

        }

        &_list{
            height:30px;
            background:red;
        }
    }
}