.c-text{

    &__number{
        font-size:28px;
        color:$color-text__main;
    }

    &__item{
        font-size:20px;
        color:$color-text__main;
    }

    &__sitename{
        font-size:26px;
        color:$color-text__main;
    }
}