.p-header{
    background:$color-bg__main;
    box-shadow: 2px 2px 2px #000000;

    &__main{
        position: relative;
        display:flex;
        align-items: center;
    }

    &__nav{
        position: absolute;
        right:0;

        &_main{
            display: flex;
        }

        &_list{
            margin-right:30px;
        }
    }

    &__list{
        
    }
}